VITE_APP_ENV=preview
VITE_CHAIN_ID=80002
VITE_FACILITATOR_URL=https://preview-canister-id.icp0.io
VITE_EXPLORER_URL=https://amoy.polygonscan.com
VITE_SELLER_TERMS_VERSION=2026-07-13-draft
VITE_PRIVACY_VERSION=2026-07-13-draft
VITE_ASSET_BOUNDARY_VERSION=2026-07-13-draft
